# Movie Classification

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib as plt

In [8]:
movie = pd.read_csv("movies_dataset.csv")

In [9]:
movie

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
0,"[16, 10751, 12, 14, 35]",502356,en,"While working underground to fix a water main,...",8374.440,2023-04-05,The Super Mario Bros. Movie,7.7,3163,"Animation, Family, Adventure, Fantasy, Comedy"
1,"[28, 80, 53]",385687,en,Over many missions and against impossible odds...,6742.222,2023-05-17,Fast X,6.9,312,"Action, Crime, Thriller"
2,"[53, 27, 14]",713704,en,Three siblings find an ancient vinyl that give...,3842.290,2023-04-12,Evil Dead Rise,7.1,1233,"Thriller, Horror, Fantasy"
3,"[28, 12, 878]",640146,en,Super-Hero partners Scott Lang and Hope van Dy...,3353.957,2023-02-15,Ant-Man and the Wasp: Quantumania,6.5,2817,"Action, Adventure, Science Fiction"
4,"[28, 53]",552688,en,A deadly female assassin comes out of hiding t...,2930.887,2023-05-04,The Mother,6.7,487,"Action, Thriller"
...,...,...,...,...,...,...,...,...,...,...
11995,[18],493622,hi,A cold-blooded contract killer hires the servi...,1.438,2006-07-21,The Killer,2.8,4,Drama
11996,"[18, 10749]",75352,hi,Subeer Kumar (Amitabh) is well on his way to b...,1.437,1973-07-27,Abhimaan,7.1,16,"Drama, Romance"
11997,[35],471364,hi,Comedy movie is about a Punjabi and Gujarati f...,1.436,2017-09-15,Patel Ki Punjabi Shaadi,6.7,3,Comedy
11998,[],143734,hi,A con-man/thief robs a suitcase containing exp...,1.436,2003-09-12,Parwana,6.7,3,NaN
11999,[10749],265289,hi,Purani Jeans is a film based on the belief tha...,1.434,2014-05-02,Purani Jeans,4.8,5,Romance

In [41]:
movie["title"][(movie["release_date"]<="2013-09-05") & (movie["genres"]=="Drama")]

70                          The Help
560                Good Will Hunting
563                           Lolita
595        The Passion of the Christ
815                         Rocky IV
                    ...
11921    Shaadi Karke Phas Gaya Yaar
11926                      Tan-Badan
11932              Udhaar Ki Zindagi
11956                     Dharmputra
11995                     The Killer
Name: title, Length: 347, dtype: object